<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tjluoma.fixtime</string>
	<key>Program</key>
	<string>/usr/local/bin/ntp-fix-time.sh</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/var/log/com.tjluoma.fixtime.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/com.tjluoma.fixtime.log</string>
	<key>StartInterval</key>
	<integer>14400</integer>
</dict>
</plist>
